<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.etop.xunfang.search.mapper.EstateSearchMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="team.etop.xunfang.search.bo.EstateSearchBean">
        <id column="id" property="id"/>
        <result column="visitTimes" property="visit_times"/>
        <result column="minPrice" property="min_price"/>
        <result column="maxPrice" property="max_price"/>
        <result column="developerQuotes" property="developer_quotes"/>
        <result column="location" property="location"/>
        <result column="type" property="type"/>
        <result column="houseType" property="house_type"/>
        <result column="feature" property="feature"/>
        <result column="estateName" property="estate_name"/>
        <result column="estateAddress" property="estate_address"/>
        <result column="updateTime" property="update_time"/>
        <result column="createTime" property="create_time"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="status" property="status"/>
        <result column="saleStatus" property="sale_status"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select id,visit_times,min_price,min_price,max_price,developer_quotes,location,
        type,house_type,feature,estate_name,estate_address,update_time,create_time,thumbnail,status,sale_status from estate
    </select>


</mapper>
