<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.etop.xunfang.modules.mapper.HousesDao">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="team.etop.xunfang.modules.po.Houses">
		<id column="id" property="id" />
		<result column="area" property="area" />
		<result column="price" property="price" />
		<result column="type" property="type" />
		<result column="house_type" property="houseType" />
		<result column="feature" property="feature" />
		<result column="effect_picture" property="effectPicture" />
		<result column="prototype_room" property="prototypeRoom" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area, price, type, house_type AS houseType, feature, effect_picture AS effectPicture, prototype_room AS prototypeRoom
    </sql>

</mapper>
